*.iml
.gradle
/local.properties
.idea/
node_modules/
/build
/captures
.externalNativeBuild
*.lock
xcuserdata/
*.xcscmblueprint
*.xccheckout
.DS_Store
.Trashes
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.log
